body {
  background: #444;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-weight: 100;
}
body .bigname {
  margin: 0;
  padding: 1em 0;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .bigname .mess {
  font-size: 0.85em;
  font-weight: 300;
}
body .bigname .mess a {
  color: white;
}
body .stage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .stage .message {
  font-weight: 100;
  font-size: 20vw;
  font-family: Montserrat;
}
body .stage .message.breathe {
  -webkit-animation: breathe 4s infinite;
          animation: breathe 4s infinite;
}
body .stage .ready span {
  -webkit-transition: 1.5s linear;
  transition: 1.5s linear;
}
body .stage .ready.well span:first-child {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
}
body .stage .ready:not(.well) span:last-child {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@-webkit-keyframes breathe {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.1;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  70% {
    opacity: 0.1;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  to {
    opacity: 1;
  }
}

@keyframes breathe {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.1;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  70% {
    opacity: 0.1;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  to {
    opacity: 1;
  }
}