body {
  background: dodgerblue;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

body .bigname {
  margin: 0;
  padding: 1em 0;
  -webkit-box-shadow: 0 0 0 1px #4fa7ff;
          box-shadow: 0 0 0 1px #4fa7ff;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .bigname .name {
  font-size: 2.5em;
  font-weight: 100;
}

body .bigname .mess {
  margin-top: 1em;
  font-size: .8em;
}

body .bigname .mess a {
  color: white;
}

body .details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

body .details .question {
  text-align: center;
  font-weight: 400;
  text-align: center;
  padding: 0 1em;
}

body .details .projs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  padding: 1em;
}

body .details .projs .proj {
  max-width: 30%;
  max-height: 15vw;
  width: 30%;
  height: 15vw;
  padding: 1em;
  -webkit-box-shadow: 2px 2px 0px -1px #4fa7ff inset;
          box-shadow: 2px 2px 0px -1px #4fa7ff inset;
}
